<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              href="http://fonts.googleapis.com/css?family=Muli&display=swap">
        <link rel="stylesheet" 
              href="../static/style3.css">
        <link rel="stylesheet" 
              href="../static/bootstrap.css">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli" />
        <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Emese Marka</title>
	</head>
	<body>
        
        <!--HEADER-->
        <div class="header fullWidth">
                <center><img src="../static/header.jpg" style="width:60%; padding-top:10px; padding-bottom:20px;"></center>
            
            <!--NAVBAR-->  
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse justify-content-center mx-auto" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">PHOTOGRAPHY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/baking">BAKING<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <!--PHOTOS-->
        <div class="container" style="padding-top: 2rem;">
            <div class="row">
                <a href="cakes.html"><img src="../static/food_linkpics/cakesphot.JPG" alt="Portraits" style="width:100%" class="photolinks"></a><br>
                <a href=""><img src="../static/food_linkpics/pastriesphot.JPG" alt="Events" style="width:100%" class="photolinks"></a><br>
                <a href=""><img src="../static/food_linkpics/otherphot.jpg" alt="Nature" style="width:100%" class="photolinks"></a><br>
            </div>
        </div>
    
    <!--FOOTER-->
    <footer>
		<div class="row fullWidth" id= "sink">
			<div class="col">
                <p class="copyright">   Emese Marka &copy 2020</p>
			</div>
			<div class="col end">
				<div class = "social-bar">
                    <a href="" class="fa fa-envelope"></a>
					<a href="https://www.instagram.com/emesemarka/" target="_blank" class="fa fa-instagram"></a>
				</div>
			</div>
		</div>
	</footer>
	</body>
</html>