<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              href="http://fonts.googleapis.com/css?family=Muli&display=swap">
        <link rel="stylesheet" 
              href="../static/style3.css">
        <link rel="stylesheet" 
              href="../static/bootstrap.css">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli" />
        <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Emese Marka</title>
	</head>
	<body>
        
        <!--HEADER-->
        <div class="header fullWidth">
                <center><img src="../static/header.jpg" style="width:60%; padding-top:10px; padding-bottom:20px;"></center>
            
            <!--NAVBAR-->  
            <nav class="navbar justify-content-center navbar-expand-lg navbar-dark bg-dark">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">PHOTOGRAPHY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/baking">BAKING<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">CONTACT</a>
                        </li>
                    </ul>
            </nav>
        </div>
        
        <!--PHOTOS-->
        <div class="container" style="padding-top: 2rem;">
            <div class="row">
                <!--COLUMN 1-->
                <div class="col-sm">
                        <a href="/baking"><img src="../static/food_linkpics/backk.png" alt="Back" style="width:100%" class="backbutton"></a>
                        <img src="../static/food/_MG_34902.jpg" alt="DPSS18" style="width:100%" class="photos">
                        <img src="../static/food/IMG_4203.png" alt="DPSS18" style="width:100%" class="photos"><br>
                        <video style="width:100%" class="photos">
                            <source src="../static/food/apa-szulinap.mp4" type="video/MP4">
                        </video>
                </div>
                <!--COLUMN 2-->
                <div class="col-sm">
                        <img src="../static/food/IMG_3095.JPG" alt="Michelle Li 1" style="width:100%" class="photos"><br>
                        <img src="../static/food/IMG_3301.JPG" alt="Michelle Li" style="width:100%" class="photos"><br>
                        <img src="../static/food/lemonmeringue2.jpg" alt="Michelle Li" style="width:100%" class="photos">
                </div>
                <!--COLUMN 3-->
                <div class="col-sm">
                        <img src="../static/food/IMG_9568.JPG" alt="Honey Bee" style="width:100%" class="photos"><br>
                        <img src="../static/food/kerbal.jpg" alt="Honey Bee" style="width:100%" class="photos"><br>
                        <img src="../static/food/kocsi.jpg" alt="Honey Bee" style="width:100%" class="photos"><br>
                        <img src="../static/food/cupcakes.jpg" alt="Honey Bee" style="width:100%" class="photos">
                </div>
            </div>
        </div>
        
        <!--FOOTER-->
        <footer>
            <div class="row fullWidth" id= "sink">
                <div class="col">
                    <p class="copyright">   Emese Marka &copy 2020</p>
                </div>
                <div class="col end">
                    <div class = "social-bar">
                        <a href="" class="fa fa-envelope"></a>
                        <a href="https://www.instagram.com/emesemarka/" target="_blank" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</html>